/node_modules
/public/hot
/public/storage
/public/uploads/candidates/profiles
/public/uploads/compeny
/public/uploads/banners
/public/uploads/jobcategory
/public/uploads/jobs
/public/uploads/news
/public/uploads/newscat
/public/uploads/site
/public/uploads/admin
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
